
body{
  color:yellow;
}
.container{
  background-color: gray;
}

p{

}
#form{
  min-width: 3rem;
  max-width: 3rem;


}

body{
  text-align: right;

}
.input-group{
  display: flex;
  justify-content: flex-end;
}
.col-2{
  min-width: 8rem;
}
.container{
  display: block;
  min-width: 40rem;
 
}


td{
  min-width: 2rem;
  width: 6rem;
  max-width: 8rem;

  min-height: 2rem;
  height: 4rem;
}


/* .btn-box{ */
  /* min-width: 3rem; */
/* } */
/* .ab{ */
  /* min-width: 3rem; */
/* } */
/* .rac{ */
  /* min-width: 3rem; */
/* } */

th{
  min-width: 4rem;
  width: 8rem;
  max-width: 8rem;

  min-height: 2rem;
height: 4rem;
}
table{
  background-color: gray;
  min-width: 20rem;
}

#row-thing{
  position: relative;
}

#score-header{
  text-align: right;
  position:relative;
  left: 3rem;
  
}
table{
  margin-left: 10rem;
}


@media (max-width:840px){
  .input-group{
    justify-content: center;
  }
  #score-header{ 
    left:0rem;
}
table{
  margin-left: 1rem;
}

}