h1{
  text-align: center;
}
#placeholder {
  background-color: seashell;
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-top: 1rem;

  height: 8rem;
  width: 10rem;
  font-size: 4rem;
  text-align: center;
  padding-top: .5rem;

  border: solid;
  border-color: rgb(177, 138, 40);
  border-radius: .5rem;
}

#roll-button {
  width: 10rem;
  background-color: rgb(26, 26, 167);
border-color: gray;}

.btn-success{
  background-color: rgb(11, 82, 11);
}
.input-group{
  width: fit-content;
}




label{
  padding: 5px;
  color:white;
  
}
#quantity-container{
  background-color: #6c757d;
  width: fit-content;
  margin-bottom: 1rem;
  border-radius: .25rem;
}

#dice-row {
  margin: 1.5rem;
}


#result-container {
  /* background-color: darkgrey; */
  background-image: url('../images/paneling.jpg');
  min-width: 350px;
  max-width: 350px;


  border: solid;
  border-color: rgb(177, 138, 40);
  border-radius: .5rem;
}

#dice-row-container {
  
  background-image: url('../images/paneling.jpg');


  border: solid;
  border-color: rgb(177, 138, 40);
  border-radius: .5rem;
  max-width: 350px;

}

.shifted {
  margin-left: -15px;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
