#spell-info {

  background-image: url('../images/parchment.jpg');
  border-radius: 1rem;
  margin-left: 3rem;
  max-width: 800px;
  padding: 1rem;
  font-size: large;
  font-weight: 800;
}

h2{
  font-size: larger;
}
h3{
  font-size: large;
}