/* * { */
  /* font-family: Helvetica, Arial, sans-serif; */
  /* text-align: center; */
/* } */
/* button { */
  /* background-color: rgb(82, 186, 179); */
  /* border-radius: 6px; */
  /* border: none; */
  /* color: rgb(255, 255, 255); */
  /* padding: 10px; */
  /* text-transform: uppercase; */
  /* width: 200px; */
  /* cursor: pointer; */
/* } */
/*  */
/* #placeholder { */
  /* height: 100px; */
  /* width: 100px; */
  /* padding: 50px; */
  /* margin: 50px auto; */
  /* border: 1px solid gray; */
  /* border-radius: 10px;   */
  /* font-size:80px; */
/* } */


.container{
  margin-top: 2rem;
}
body{
  background-color: rgb(158, 140, 140);
}
#placeholder{
  background-color: seashell;
  margin-bottom: 1rem;
  margin-right: 2rem;
  height: 8rem;
  width: 10rem;
  font-size: 4rem;
  text-align: center;
  
}
#roll-button{
  width: 10rem;
}
#form{
  width:6rem;
  min-width: 6rem;
}
.input-group{
  width: 12rem;
}


